### DotnetCore ###

# .NET Core build folders
bin/
obj/

### JetBrains ###

# Rider
*.DotSettings.user

# Resharper
_ReSharper*/

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
